# Core Django
Django
djangorestframework

# Database
mysqlclient

# CORS handling
django-cors-headers

# Environment variables
django-environ

# API documentation
drf-yasg

# Asynchronous tasks
celery
redis
# Development tools
django-extensions
ipython

gunicorn
psycopg2-binary
dj-database-url

